@media only screen and ( max-width: 370px ){
	.navbar-header{
		margin-left: 30px !important;
		-ms-align-self: flex-start;
		align-self: flex-start;
	}
}
@media only screen and ( max-width: 378px ){
	.nav-tabs > li > a{
		padding: 0.6em 1.2em;
	}

}
@media only screen and ( max-width: 400px ){
	.imagen-principal figcaption{
		height: 100%;
		padding: 0 5px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		background-color: rgba(0,0,0,0.65);
	}
}
@media only screen and ( max-width: 550px ){
	.imagen-principal figcaption {
		display: none;
	}
	.media-left img{
		max-width: 100%;
		}
	.issues .issue-summary img{
		max-width: 100%;
	}

	.issues, .media-list{
		justify-content: flex-start;
	}

	.issues .issue-summary{
		/*flex: none;
		width: 48%;
		margin: 0 1%;*/
	}

	.nawi-tabs li{
		width: 25%;
		text-align: center;
	}

	.nav-tabs > li > a{
		padding: 1em 0;
	}

	.nawi-revista .heading,.nawi-revista .heading +div{
		width: 100%;
	}
	.nawi-revista .heading +div{
		margin-left: 0;
	}
	.no-wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.nawi-portada{
		width: 100%;
		height: 120px;
		overflow: hidden;
		text-align: center;
		margin-bottom: 10px;
	}

	.nawi-portada a img{
		width: 100%;
	}

	.media{
		position: relative;
	}
	.media-heading ul{
		position: absolute;
		bottom: -2px;
		right: 5px;
	}
}
@media only screen and ( max-width: 767px ){

	/*pkp_structure_main{
		padding: 0;
	}*/


    .navbar-collapse{
    	z-index: 30;
    }

	.logosFooter{
		padding-top: 1em;
	}
	.divLogoEspol, .divLogoEdcom, .social-nawi{
		display: none;
	}

	.r-social, .divLogoEspol2, .divLogoEdcom2{
		display: inline-block;
		background-color: #f6f6f5;
	}

	.pkp_structure_page{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	header.navbar{
		width: 100%;
		min-height: 100px;
		padding: 0;
		min-width: 100%;
		/*height: 100px;*/
		position: fixed;
		margin-bottom: 0;
		z-index: 1;
		max-height: 100vh;
	}
	header .ocultar{
		/*display: none;*/
	}
	.navbar-default .navbar-toggle{
		border-color: transparent;
	}
	.navbar-toggle{
		position: fixed;
		margin: 0;
		top: 6%;
		right: 10px;
		background-color: transparent;
	}
	.navbar-toggle .icon-bar{
		width: 37px;
		height: 5px;
		border-radius: 4px;
		margin: 6px 0;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #bf0274;
	}
	.container{
		width: 100%;
		margin-left: 0;
		margin-top: 130px;
	}
	.site-name img{
		margin-bottom: 0;
	}
	.navbar-brand{
		/*padding: 0;*/
	}
	form .form-group, form .navbar-nawi button{
		display: inline-block;
		vertical-align: top;
	}
	form.navbar-nawi{
		right: 4px;
	}
	.imagen-principal{
		margin: 0 -15px;
	}

	#nav-menu{
		margin-bottom: 5%;
	}
	.container-fluid form{
		margin-bottom: 7%;
	}

}
@media screen and (max-width: 900px ){
	.issues .issue-summary{
		flex:1 1 46%;
		margin: 0 2%;
	}

}
@media only screen and (min-width: 1500px){
	body{
		min-height: 0 5%;
		padding: 0 10%;
	}
}
